<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login Retho </title>
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
</head>
<body>

    <div style="max-width: 450px; margin: auto;">
        <form action="/login/iniciar" method="post">
            <div class="card mt-5">
                <div class="card-body">
                    <img src="https://www.svgrepo.com/show/3130/user.svg" alt="login-logo" height="100" class="mt-4 mx-auto d-block">
                    <h1 class="text-center fw-bold"> RETHO </h1>
                    <h2 class="text-center mb-3"> Inicio de sesi칩n </h2>

                    <div class="mb-3">
                        <label for="user" class="form-label"> Nombre de Usuario </label>
                        <input type="text" id="user" name="user" placeholder="Usuario" class="form-control" required autofocuss>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label"> Contrase침a </label>
                        <input type="text" id="password" name="password" placeholder="Contrase침a" class="form-control" required autofocus>
                    </div>

                    <button type="submit" class="btn btn-primary mx-auto d-block"> Iniciar Sesi칩n </button>
                </div>
            </div>
        </form>
    </div>

</body>
</html>